.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.container-ilustracao {
    background-image: url("../imagens/banner-ilustracao.svg");
    background-size: cover;
    width: 107vh;
    height: 500px;
}

.container-texto-titulo {
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    font-size: 3rem;
    color: #86007D;
    align-self: center;
}

.container-texto {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.container-texto-descricao {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
}

@media (max-width:900px) {
    .container-ilustracao {
        width: 150vh;
    }
    .container-texto {
       margin-left:20px;
    }
}

@media (max-width:800px){
.container{
    flex-direction: column-reverse;
    justify-content: center;
}
.container-ilustracao{
    height: 460px;
}
}