header{
    display: flex;
    height: 114vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    max-width: 1025px;
}

.container-ilustracao {
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    width: 50%;
    /* height: 500px; */
}

.container-texto-titulo {
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    font-size: 3rem;
    color: #86007D;
    align-self: center;
    margin:0;
}

.container-texto {
    display: flex;
    flex-direction: column;
}

.container-texto-descricao {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
    width: 285px;
    margin:0;
    margin-bottom: 25px;
}


@media (max-width:800px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .container-ilustracao {
      align-self: center;
      width: 60%;
    }
    .container-texto-descricao{
        align-self: center;
    }
}