.contato {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.contato-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 100px;
}

.contato-container-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contato-titulo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    color: #86007D;
    font: Regular 60px/88px Sinhala Sangam MN;
}

.contato-container-imagem {
    width: 400px;
    height: 400px;
    opacity: 50%;
}