.contato {
    display: flex;
    width: 400px;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}