.contato {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.contato-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
    /* align-items: center; */
    padding-top: 80px;
}

.contato-container-items {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: white;
    margin-bottom: 70px;
    margin-right: 13%;
}

.contato-container-items2 {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 70px;
    z-index: 2;
    color: white;
    margin-left: 14%;
    /*  font: Regular 30px/39px Malayalam Sangam MN; */
}

.contato-items-label {
    padding-top: 8px;
    padding-bottom: 5px;
}

.contato-items-botao {
    align-self: center;
    background: transparent;
    border: 2px solid #FFFFFF;
    margin-top: 30px;
    border-radius: 30px;
    width: 150px;
    height: 60px;
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    /* font: Regular 34px/42px Damascus; */
}

.contato-items-input {
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding-top: 10px;
    height: 15px;
}

.contato-items-mensagem {
    height: 130px;
    width: 300px;
}

.contato-titulo {
    display: flex;
    justify-content: center;
    align-self: center;
    color: #86007D;
    /* font: Regular 60px/88px Sinhala Sangam MN; */
}

.contato-titulo-item {
    font-size: 3.0rem
}

.contato-titulo-imagem {
    display: flex;
    height: 5px;
    width: 5px;
    background-size: 10px;
}


/* degradê da direita  */

.contato-container-imagem {
    right: 0;
    /* padding-bottom: 150px; */
    position: absolute;
    height: 616px;
    opacity: 100%;
    z-index: 1;
    width: 67%;
    bottom: 0;
}


/* degradê da esquerda  */

.contato-container-imagem2 {
    left: 0;
    /* padding-bottom: 150px; */
    position: absolute;
    /* height: 560px; */
    opacity: 100%;
    z-index: 1;
    width: 56%;
    bottom: 0px;
}

.container-items2-telefone {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.container-items2-email {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.container-items2-facebook {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.container-items2-instagram {
    display: flex;
    align-items: center;
}

.items2-telefone-icon {
    width: 37px;
    height: 25px;
    margin-right: 10px;
}

.items2-email-icon {
    width: 40px;
    height: 32px;
    margin-right: 10px;
}

.items2-facebook-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.items2-instagram-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

@media (max-width: 1250px) {
    .contato-container-items2 {
        margin-top: 150px;
        color: white;
        margin-left: 12%;
        /*  font: Regular 30px/39px Malayalam Sangam MN; */
    }
}

@media (max-width: 1100px) {
    .contato-container-items2 {
        margin-top: 100px;
        color: white;
        margin-left: 11%;
        /*  font: Regular 30px/39px Malayalam Sangam MN; */
    }
    .contato-container-imagem2 {
        width: 68%;
    }
}

@media (max-width: 1000px) {
    .contato-container-items2 {
        margin-top: 100px;
        color: white;
        margin-left: 11%;
        /*  font: Regular 30px/39px Malayalam Sangam MN; */
    }
    .contato-container-items {
        /* font-size: 2rem; */
        color: white;
        margin-bottom: 70px;
        margin-right: 7%;
    }
    .contato-container-imagem {
        height: 680px;
        width: 67%;
    }
    .items2-telefone-icon {
        width: 20px;
        height: 18px;
        margin-right: 10px;
    }
    .items2-email-icon {
        width: 28px;
        height: 24px;
        margin-right: 10px;
    }
    .items2-facebook-icon {
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }
    .items2-instagram-icon {
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }
    .container-items2-telefone {
        margin-bottom: 20px;
    }
    .container-items2-email {
        margin-bottom: 20px;
    }
    .container-items2-facebook {
        margin-bottom: 20px;
    }
    .contato-container-imagem2 {
        width: 72%;
    }
}