.nav{
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(134, 0, 125, 0.25);
    background-color: white;
    height: 75px;
    width: 100%;
    box-shadow: 0px 5px rgba(244, 223, 246, 0.3);
}
.nav-container-logo{
    position: relative;
    left: 60px;
}
.nav-link-imagelogopcd{
    width: 180px;
    height: 50px;
}
.nav-container-sections{
    list-style-type: none;
    position: relative;
    left: 35px;
    justify-content: space-between;
    display: flex;
    padding: 0;
    margin: 0;
    width: 370px;
    font-family: 'Barlow', sans-serif;
}
.nav-linksection-a{
    font-size: 25px;
    text-decoration: none;
    color: #86007D;
}
.nav-container-socialnetlinks{
    list-style-type: none;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.container-socialnetlinks-menuhamburguer{
display:none;

}
.nav-socialnetlinks-iconface{
    height: 35px;
    width: 35px;
}
.nav-socialnetlinks-iconinsta{
    height: 35px;
    width: 35px;
}
.nav-socialnetlinks-backimage{
    width: 200px;
}
.nav-backimage-image{
    width: 105%;
    height: 75px;
}
.nav-socialnetlinks-iconface{
    position: absolute;
    top: 20px;
    left: 70px;
}
.nav-socialnetlinks-iconinsta{
    position: absolute;
    left: 130px;
    top: 20px;
}
.nav-link-iconface{
    width: 35px;
    height: 35px;
}
.nav-link-iconinsta{
    width: 40px;
    height: 40px;
}

@media (max-width:900px){
    .nav-backimage-image {
        width: 130%;
        height: 75px;
    }

    .nav-socialnetlinks-iconinsta {
        left: 140px;
    }

    .nav-socialnetlinks-iconface {
        left: 85px;
    }

    .nav-container-logo {
        left: 25px;
    }
}

@media (max-width:800px){

    .nav-socialnetlinks-iconface {
        display:none;
    }

    .nav-socialnetlinks-iconinsta {
        display:none;
    }

    .nav-backimage-image {
        width: 181%;
    }
    .nav-container-sections {
       display:none;
    }

    .container-socialnetlinks-menuhamburguer {
        position: absolute;
        left: 141px;
        top: 22px;
        display: flex;
    }

}