.quemsomos-titulo-imagem {
    display: flex;
    height: 30px;
    width: 20px;
}

.quemsomos{
    display:flex;
    justify-content: center;
}

.quemsomos-titulo{
    display: flex;
    flex-direction: row;
    color:#86007D;

}
