{% load static %}

<header id="banner scrollSuave">

    <div class="container">
        <!-- <div class="container-ilustracao"> </div> -->
        <img src="static/imagens/banner-ilustracao.svg" class="container-ilustracao" alt="Ilustração de uma cadeirante segurando uma bandeira da diversidade, com bastante cores ">


        <div class="container-texto">
            <h1 class="container-texto-titulo"> Vale PCD </h1>
            <p class="container-texto-descricao">Venha nos ajudar a transformar o Vale PCD em realidade!</p>
        </div>
    </div>

</header>