{% load static %}



<section class="contato">

    <div>
        <h2 class="contato-titulo"> Fale Conosco! </h2>
    </div>


    <div class="contato-container">
        <img src="static/imagens/contato-degrade2-alterado" alt="" class="contato-container-imagem">

        <form action="POST" id="contact-form" class="contato-container-items">
            {% csrf_token %}
            <!--  <div> <img src="static/imagens/contato-degrade2.svg" alt="" class="contato-container-imagem"></div> -->

            <!-- ajustar for  para ser igual ao id -->
            <label for="input-nome" class="contato-items-label"> Nome: </label>
            <input type="text" name="nome" id="input-nome" required class="contato-items-input">

            <label for="input-email" class="contato-items-label"> Email: </label>
            <input type="email" name="email" id="input-email" required class="contato-items-input">

            <label for="input-assunto" class="contato-items-label"> Assunto :</label>
            <input type="text" name="assunto" id="input-assunto" required class="contato-items-input">

            <label for="input-mensagem" class="contato-items-label"> Mensagem: </label>
            <input type="text" name="mensagem" id="input-mensagem" class="contato-items-mensagem contato-items-input" required>


            <!--  Ajustar para button type submit -->
            <button type="submit" value="Enviar" class="contato-items-botao" onclick="enviando()" id="enviar"> Enviar </button>

            <div id="msg">
            </div>
        </form>
        <!--  usar o css no id , em imagem -->
        <img src="static/imagens/contato-degrade1-alterado.svg" alt="" class="contato-container-imagem2">
        <div class="contato-container-items2 ">
            <div> (81) 3426-8978 </div>
            <div> pcdvale@gmail.com</div>
            <div> /valePCD </div>
            <div> @pcdvale </div>
        </div>



    </div>




</section>