{% load static %}

<nav class="nav">
    <div class="nav-container-logo">
        <a class="nav-logo-link" href="#home"><img class="nav-link-imagelogopcd" src="/static/img/Logotipo colorido horizontal 2.png" alt="Logotipo PCD"></a>
    </div>
    <ul class="nav-container-sections">
        <li class="nav-sections-linksection"><a class="nav-linksection-a" href="#quemsomos">Quem somos?</a></li>
        <li class="nav-sections-linksection"><a class="nav-linksection-a" href="#relatos">Relatos</a></li>
        <li class="nav-sections-linksection"><a class="nav-linksection-a" href="#contato">Contato</a></li>
    </ul>
    <ul class="nav-container-socialnetlinks">
            <li class="nav-socialnetlinks-iconface"><a class="nav-icon-link" href="https://www.facebook.com"><img class="nav-link-iconface" src="/static/img/facebook-logo.svg" alt="Facebook logo"></a></li>
            <li class="nav-socialnetlinks-iconinsta"><a class="nav-icon-link" href="https://www.instagram.com"><img class="nav-link-iconinsta" src="/static/img/final.svg" alt="Instagram logo"></a></li>
            <li class="nav-socialnetlinks-backimage"><img class="nav-backimage-image" src="/static/img/Caminho_98.svg" alt="Asset"</li>
    </ul>
</nav>