{% load static %}

<section class="quemsomos">

    <div class="quemsomos-titulo">

        <img src="static/imagens/borboleta-asa-esquerda.svg" alt=""class="quemsomos-titulo-imagem">

             O que é o vale PCD?

        <img src="static/imagens/borboleta-asa-direita.svg" alt="" class="quemsomos-titulo-imagem">
    </div>

    <div class="quemsomos-container">

        <div class="quemsomos-container-textos">
            <div class="quemsomos-container-frasedestaque">

                  <img src="static/imagens/aspas-esquerda.svg" alt="" class="quemsomos-container-aspaesquerda">
                  <!--   {{quemsomos.destaque}} -->
                   <div class="container-frasedestaque-texto"> TEXTO TEXTO TEXTO TEXTO TEXTO TEXT</div>
                  <img src="static/imagens/aspas-direita.svg" alt="" class="quemsomos-container-aspadireita">

            </div>

            <div class ="quemsomos-container-descricao">

                   <!--  {{quemsomos.descricao}} -->
                   descricao descricao descricao 

            </div>

        </div>

        <div class="quemsomos-container-imagens">

            <div class="container-imagens-fundo"></div>

            <div class="container-imagens-usuario"></div>

        </div>

    </div>



</section>